* {
	font-family: "JetBrainsMono Nerd Font", monospace;
	font-size: 14px;
}

window#waybar {
	background: #111111;
	opacity: 0.8;
	border-radius: 8px;
	/* Margins are in config! */
}

#workspaces button {
	/* Inactive workspaces */
	padding: 0 15px;
	color: #888888;
	border: none;
}

#workspaces button.focused {
	color: #ffaaff;
}

#workspaces button.urgent {
	color: #e74c3c;
}

/* separator + window name */
#mode,
#window {
	color: #ffffff;
	padding: 0 15px;
}

#clock,
#network,
#pulseaudio,
#battery {
	color: #ffffff;
	padding: 0 15px;
}

#battery.warning {
	color: #f39c12;
}

#battery.critical {
	color: #e74c3c;
}
