* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}

window#waybar {
    /* background: #000000; */
    background: transparent;
	opacity: 1.0;
    color: #000000;
    /* border-bottom: 0px solid #333333; */
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: #3f3f3f;
    border: none;
}

#workspaces button.focused {
    color: #000000;
}

#workspaces button.urgent {
    color: #e74c3c;
}

#mode,
#window {
	color: #000000;
	padding: 0 15px;
}
#clock,
#network,
#pulseaudio, 
#battery {
	color: #ffffff;
	padding: 0 15px;
}

#battery.warning {
    color: #f39c12;
}

#battery.critical {
    color: #e74c3c;
}
